.menu {
    background: rgb(56, 53, 53)
}

.navbar-item {
    color:#fff;
    text-decoration: none;
}

.nav-link {
    color:#fff;
    text-decoration: none;
}

a{
    text-decoration: none;
}

body{
    background: rgb(239, 240, 241)
}